
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #030303d0;
    color: white;
}


.sidebar {
    width: 250px;
    height: 280px;
    background-color: rgb(240, 20, 211);
    color: white;
    position: fixed;
    padding-top: 20px;
}

.sidebar nav ul li {
    margin: 20px 0;
    text-align: center;
}

.sidebar nav ul li a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px;
    background-color: rgba(8, 7, 7, 0.882);
    border-radius: 50px;
}

.sidebar nav ul li a:hover {
    background-color: gold

}


.content {
    margin-left: 250px;
    padding: 10px;
}

header {
    text-align: center;
}

header h1 {
    color:rgb(240, 20, 211)
}
header h2 {
    color:goldenrod
}
a {
    color: #e10f91; 
   
}

a:hover {
    color: #d80f7a;
    
}



footer {
    text-align: center;
    margin-top: 20px;
    color: rgba(40, 17, 189, 0.924);
    font-size: 14px;
}
