







body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}

header {
    margin-right: 10px;
    text-decoration: gold;
    border: 20px solid gold;
    background-color: rgb(0, 115, 255);
    padding: 50px
     
}




.topnav {
    overflow: hidden;
    background-color: #3a17eb;
}

.topnav a {
    float: left;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #380de5;
    color: rgb(42, 17, 227);
}

.topnav a.split {
    float: left;
    background-color: gold;
    color: white;
}

h1 {
    font-size: 44px;
    margin-right: 10px;
    text-decoration: none;
    border: 5px solid rgb(32, 33, 30);
    background-color: rgb(0, 115, 255);


}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: gold;
}

th, td {
    border: 20px solid rgb(79, 19, 220);
    padding: 50px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 244);
    padding: 50px
}
button {
    background-color: #630af1; 
    color: rgb(239, 251, 6); 
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 26px;
}

label, input, textarea, select, button {
    margin-top: 10px;
}