/* Side Navigation Styles */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #06ed57; 
    overflow-x: hidden; 
    transition: 0.3s;
    padding-top: 60px; 
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(236, 10, 210);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #e71399;
}

.sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    color: #333;
    padding: 10px;
}

/* Main content shift when sidenav is open */
#main {
    transition: margin-left 5s;
}
